.watcher-preview {
    background-color: $clr2;
    border-radius: 0.5em;
    position: relative;
    padding: 1em;
    overflow: hidden;
    text-align: center;

    .avatar {
        cursor: pointer;
        border-radius: 0.5em;

        &:hover {
            box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.05);
        }
    }

    .btn-remove,.btn-edit {
        position: absolute;
        bottom: em(16px, 20.8px);
        right: em(16px, 20.8px);
        @include transparentBtn;
        translate: 300%;
        transition: translate 0.2s;
    }

    .btn-edit {
        left: em(16px, 20.8px);
        translate: -300%;
        width: fit-content;
    }

    &:hover {

        .btn-edit,
        .btn-remove {
            translate: 0;
        }
    }
}