.watcher-index{
    width: 100%;
    display: flex;
    flex-direction: column;

    .title{
        margin-bottom: 1em;
        color: $clr2;
        font-weight: 700;
    }

    .btn-add{
        @include regularBtn;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        gap: 0.5em;
    }
}